<p id="notice"><%= notice %></p>

<h1>Job Board</h1>

<table width="960px" 
    height= "95px">
  <thead>
    <tr height="60px">
      <td></td>
      <th>Title</th>
      <th>Date Published</th>
      <th>Description</th>
      <th>City</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to 'Show', job %></td>
        <td><%= job.title %></td>
        <td><%= time_ago_in_words (job.created_at) %> ago</td>
        <td><%= job.description %></td>
        <td><%= job.city %></td>
    <% end %>
  </tbody>
</table>

<br><br><br>

<%= link_to 'Add A Job Post', new_job_path %>
